/* GENERAL STYLE */

* { box-sizing: border-box; }

html {
  font-size: 62.5%;
}

body {
  margin: 0% 10%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: #000;
}

.hide {
  display: none !important;
}

/* HEADER STYLE */

.btn-header {
  border: 1px black solid;
  background: black;
  color: white;
  border-radius: 5px;
  display: block;
  text-align: center;
  padding: 1em 1em;
  font-weight: bold;
  cursor: pointer;
}

.btn-header:hover {
  transform: scale(0.98);
}

.header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 1%;
  margin-bottom: 1%;
}

.logo {
  font-size: 2.5rem;
  font-weight: bolder;
}

.fa-icon {
  display: inline-block;
  text-align: center;
}

div.logo {
  text-align: center;
  justify-content: center;
}

.header ul {
  align-items: center;
  list-style: none;
  justify-content: center;
  padding: 0;
}

/* HEADING STYLE */

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3%;
  padding: 0 20px;
}

.heading h1 {
  margin: 0;
}

.heading p {
  color: #828282;
  margin: 0;
}

.profileImage {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-top: 2%;
}

/* PROFILE STYLE */

.content-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-main p {
  font-size: 1.8rem;
  padding: 0 30%;
  text-align: center;
  font-style: italic;
  font-weight: 400;
}

.content-main ul.content-main-item {
  justify-content: center;
  padding: 0;
}

.content-main-item {
  margin: 0% 0%;
}

.content-body {
  text-align: center;
}

.content-body h3 {
  font-size: 2rem;
}

.hover:hover {
  opacity: 0.7;
  cursor: pointer;
}

/* EVENT PAGE STYLE */

.btn-container {
  display: flex;
  justify-content: center;
  margin: 1% 0%;
}

button.btn.overflown {
  background-color: gray;
  color: black;
  font-size: 1.5rem;
  padding: 1%;
}

button.overflown.hide {
  align-self: center;
}

section.content-body {
  justify-content: center;
}

.image-container img {
  max-width: 500px;
  height: auto;
}

div.btn-container {
  display: flex;
  gap: 1%;
}

section.event {
  display: flex;
  font-size: 2rem;
  flex-direction: column;
  align-items: center;
}

section.event-text-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(500px, 600px));
  align-items: center;
}

section.event p {
  padding: 0 10rem;
}

@media (max-width: 500px) {
  .image-container img {
    width: 300px;
  }
  section.event-text-container {
    font-size: 1.5rem;
  }

  div.profile-image-container img{
    width: 100px;
    height: auto;
  }
}

/* EVENTS STYLE */

section.content {
  display: flex;
  justify-content: center;
}

ul.events {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 1rem;
  padding: 0;
  max-width: 1200px; 
}

li.event {
  background-color: rgb(244, 241, 241);
  border: 1px solid black;
  border-radius: .5rem;
  box-sizing: content-box;
  max-width: 500px;
  margin-left: 0px;
  text-align: center;
  flex:max(400px, 100%/1 + 0.1%);
}

li.event p {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0.5rem;
  overflow-wrap: anywhere;
}

figure {
  max-width: 500px;
  overflow: hidden;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  position: relative;
  margin: 0 0;
}

figure > figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
  width: 100%;
  color: white;
}

ul > li > p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem .75rem;
  color: #666666;
}

.eventThumbnail {
  width: 100%;
}

/* FORM STLYE */

section.form {
  display: flex;
}

.image-container {
  display: flex;
  align-items: center;
}

form {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.formGroup {
  margin-bottom: 10px;
  margin: 0% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formGroup input,
.formGroup textarea,
.formGroup select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.formGroup label {
  font-size: 1.5rem;
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
  text-align: left;
}

/* OTHERS */

.defaultImagePreview {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #512DA8;
  font-size: 1.5rem;
  color: #fff;
  line-height: 27px;
  margin: 20px 0;
}

.profileImagePreview {
  width: 300px;
  height: 300px !important;
  border-radius: 50%;
  background: #512DA8;
  font-size: 1.5rem;
  color: #fff;
  line-height: 27px;
  margin: 20px 0;
}

.pastEvent {
  background-color: red;
  color: white;
}

figcaption.pastEvent {
  position: absolute;
  bottom: 50%;
  background-color: red;
  width: 100%;
  color: white;
}

.uploadedPic {
  display: none;
}

.uploadedPic[src] {
 display: block;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;}

ul li {
  margin-left: 20px;
}

@media (max-width: 1100px) {
  section.form form {
    width: 100%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}

/* https://github.com/bradtraversy/mern-tutorial */
.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}