/* All Style */

* { box-sizing: border-box; }

html {
  font-size: 62.5%;
}

body {
  margin: 0% 10%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: #000;
}

.hide {
  display: none;
}

/* Header Style */

.btn-header {
  border: 1px black solid;
  background: black;
  color: white;
  border-radius: 5px;
  display: block;
  text-align: center;
  padding: 1em 1em;
  font-weight: bold;
  cursor: pointer;
}

.btn-header:hover {
  transform: scale(0.98);
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 1%;
  margin-bottom: 1%;
}

.logo {
  font-size: 2.5rem;
  font-weight: bolder;
}

.fa-icon {
  display: inline-block;
  text-align: center;
}

div.logo {
  text-align: center;
  grid-column: 3/4;
}

.header ul {
  grid-column: 4/6;
  align-items: center;
  list-style: none;
  justify-content: right;
}

/* HEADING STYLE */

.heading {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  text-align: center;
  /* align-content: center; */
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading h1 {
  margin: 0;
}

.heading p {
  color: #828282;
  margin: 0;
}

/* FORM STLYE */

form {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.formGroup {
  margin-bottom: 10px;
  margin: 0% 10%;
}

.formGroup input,
.formGroup textarea,
.formGroup select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.formGroup label {
  font-size: 1.5rem;
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
  text-align: left;
}








/* SOMETHING ELSE */


.defaultImagePreview {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #512DA8;
  font-size: 1.5rem;
  color: #fff;
  line-height: 27px;
  margin: 20px 0;
}


.profileImagePreview {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #512DA8;
  font-size: 1.5rem;
  color: #fff;
  /* text-align: center; */
  line-height: 27px;
  margin: 20px 0;
}

.profileImage {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.uploadedPic {
  display: none;
}


.uploadedPic[src] {
 display: block;
}
/* MAKE HOSTS PIC SPECIAL .hostPic */
.profileImage:hover {
  opacity: 0.5;
  cursor: pointer;
}

.hostPic {
  border-color: aqua;
  border-width: 50px;
}

.events {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.event {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
}

.event .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}


.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}


.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;}

ul li {
  margin-left: 20px;
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}


.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}